@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    height: 100vh;
}

header {
    background-color: #FFFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
}

header h1 {
    font-size: 2.5em;
}

main {
    background-color: #F0EEF1;
    box-shadow: inset 0px 5px 15px -3px rgba(0,0,0,0.1);
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button button {
    background-color: #F0EEF1;
    border: 0;
    cursor: pointer;
    margin: 1.5em 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.7em 1em;
    border-radius: 0.7em;
    transition: 150ms linear;
    outline: none;
}

#button button:hover {
    background-color: #D8D8D8;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    padding: 0em 7em 2em 7em;
    gap: 40px;
}

.card {
    background-color: #FFFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 0.8em;
    padding: 1.5em;
    gap: 15px;
    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.1);
}

.card h2 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
}

.card button {
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1em;
    width: 100%;
    border-radius: 0.7em;
    font-size: 1.3em;
    font-weight: 600;
    outline: none;
}

.card .read {
    background-color: #53D769;
    transition: 150ms linear;
}

.card .read:hover {
    background-color: #46C263;
}

.card button {
    background-color: #478ECC;
    transition: 150ms linear;
}

.card button:hover {
    background-color: #3e80b9;
}

.card .remove {
    background-color: #F0EEF1;
    transition: 150ms linear;
}

.card .remove:hover {
    background-color: #FC3D39;
}

dialog {
    width: 26em;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgb(0 0 0 / .4);
    text-align: center;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .4);
}

dialog h1 {
    margin: 0;
    padding-bottom: 1em;
}

dialog input[type=text], dialog input[type=number] {
    border: none;
    background-color: #F0EEF1;
    padding: 1.3em;
    margin: .5em 0;
    border-radius: 0.4em;
    width: 23em;
    font-size: 1em;
    font-weight: 700;
    outline: none;
}

form div {
    padding: 1em 0;
}

label {
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}

form button {
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1em;
    width: 100%;
    border-radius: 0.7em;
    font-size: 1.3em;
    font-weight: 600;
    outline: none;
    transition: 150ms linear;
}

form button:hover {
    background-color: #d9d7da;
}