@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    height: 100vh;
}

header {
    background-color: #FFFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
}

header h1 {
    font-size: 2.5em;
}

main {
    background-color: #F0EEF1;
    box-shadow: inset 0px 5px 15px -3px rgba(0,0,0,0.1);
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button button {
    background-color: #F0EEF1;
    border: 0;
    cursor: pointer;
    margin: 1.5em 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.7em 1em;
    border-radius: 0.7em;
}

#button button:hover {
    background-color: #D8D8D8;
    transition: 150ms linear;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}